:root{
  font-size: 60%;

  --color-white: #fff;
  --color-gray: #8d99ae;
  --color-black: #212529;
  --color-sucess: #0ead69;
  --color-error: #dc2f02;
  --color-primary: #fb5607;
  --color-secondary: #e76f51;
  --color-tertiary: #f4a261;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html, body, #root{
  min-height: 100vh;
}

body{
  background: var(--color-white);
}

body, input button, textarea{
  font: 500 1.8rem Lora;
}
